.logo {
    height: 90px;
    padding-left: 5px;
    width: 110px;
}

.header {
    border: 2px solid black;
    display: flex;
    padding: 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    display: flex;
}

.logo-name > h1 {
    padding-left: 15px;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-items > ul{
    display: flex;
}    

.item {
    list-style: none;
    padding: 0px 30px;
    font-size: 25px;
    font-weight: 550;
}